.work{
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid 5px var(--accent);
    padding:5%;
    /* background-color: white; */
}
.carousel-item{
    height: 95vh;
}
.carousel-caption{
    background-color: var(--dark3);
    box-shadow: 2px 2px 10px black inset;
    bottom: 0%;
    position: static;
}
