.molly{
    height: 30vw;
}
.aboutMe{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    font-size: 1.3em;
}
.block-text{
    line-height: 1.5;
    margin-right: 15%;
}

li{
    color: var(--mid);
}